# Postgres                                                                                                                                                          
POSTGRES_DB=strapi                                                                                                                                                  
POSTGRES_USER=strapi                                                                                                                                                
POSTGRES_PASSWORD=your_password_here                                                                                                                                
                                                                                                                                                                 
# Strapi
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432                                                                                                                                                  
DATABASE_NAME=strapi                                                                                                                                                
DATABASE_USERNAME=strapi                                                                                                                                            
DATABASE_PASSWORD=your_password_here

# Strapi Secrets
APP_KEYS=put_your_app_keys_here                                                       
API_TOKEN_SALT=put_your_api_token_salt_here                                                                                                                             
ADMIN_JWT_SECRET=put_your_admin_jwt_secret_here                                                                                                                           
TRANSFER_TOKEN_SALT=put_your_transfer_token_salt_here                                                                                                                        
ENCRYPTION_KEY=put_your_encryption_key_here 