# Postgres                                                                                                                                                          
POSTGRES_DB=strapi                                                                                                                                                  
POSTGRES_USER=strapi                                                                                                                                                
POSTGRES_PASSWORD=your_password_here                                                                                                                                
                                                                                                                                                                 
# Strapi
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432                                                                                                                                                  
DATABASE_NAME=strapi                                                                                                                                                
DATABASE_USERNAME=strapi                                                                                                                                            
DATABASE_PASSWORD=your_password_here

# Strapi Secrets
APP_KEYS=M3WDEHFOzTnlQ7QBKeqtzZcUHJi/2pu5,0GXAzx//OYoeAlwp8Ta7dLKsG/LjAAAz,qd0X4vAa1WYt3/g2O41q81M8KPOJHJgz,xx35UtllEdsS9yan0BBBPajZDwLK4dvV                                                        
API_TOKEN_SALT=J0/oCEVTld5N?O8K4U92o1T2MqC4mddB                                                                                                               
ADMIN_JWT_SECRET=AzvfCs5xN7HYjbV6PmzpKqkjZBeATkub
TRANSFER_TOKEN_SALT=MUXDgg9+iMKuyVNILNP2VoNrTgVKAqE                                                                                                                        
ENCRYPTION_KEY=Hn/syrtzl2CrnoCRf67pPgkzXDfljkddq ^